<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>
    <context:component-scan base-package="org.zj.*">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <context:property-placeholder file-encoding="UTF-8" location="classpath:database.properties"/>
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close"
          p:driverClass="${mysql.driver_class}"
          p:jdbcUrl="${mysql.connection.url}"
          p:user="${mysql.connection.username}"
          p:password="${mysql.connection.password}"
          p:maxPoolSize="30"
          p:minPoolSize="1"
          p:initialPoolSize="1"
          p:maxIdleTime="10"/>
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
          p:typeAliasesPackage="org.zj.entity"
          p:dataSource-ref="dataSource"
          p:mapperLocations="classpath:mapper/*"/>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"
          p:basePackage="org.zj.mapper"/>
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
          p:dataSource-ref="dataSource"/>
</beans>